<div class="hero-body">
  <div class="container has-text-centered">
    <div class="title pb-5">
      Review Anything Once
    </div>
    <div class="subtitle">
      <p>Just as it sounds...you can review anything...once.</p>
      <p>It's the one and only take on a given subject on the entire site.</p>
    </div>
  </div>
</div>